        div#wrap { background:#ddd; }
        header#header { background:#fdd; }
        nav#nav { background:#dfd; }
        section#container { background:#ddf; }
            div.content { background:#eee; }
            aside#aside { background:white; }
        footer#footer { background:#ffe; }
       
        div#warp, header#header, nav#nav,
        section#container, div.content, aside#aside,
        footer#footer { padding:10px; }
     
        nav#nav ul { margin:0; padding:0; list-style:none; }
        nav#nav ul li { background:#eee; padding:10px; display:inline-block; }
        
        aside#aside {width:30%; float:left;}
        div.content {width:60%; float:right;}
        section#container::after { content:""; display:block; clear:both; }

        @media screen and (max-width: 910px) {
        div#wrap { width:calc(100% - 20px); }
        div.content { width:calc(100% - 20px - 240px - 20px); }
        aside#aside { width:220px; }

        @media screen and (max-width: 650px) {
        div.content,
        aside#aside { width:calc(100% - 20px); float:none; }
}
}   

